<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    {{fullName}}
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el : '#app',
        data : {
            firstName : "",
            lastName : ""
        },
        computed : {  //依赖于其他属性的时候使用computed
            fullName : {
                get () {
                    return this.firstName + this.lastName;
                }
            }
        }
    })
</script>
</body>
</html>